#generated model outputs
migdb.testing.run/models/*

#generated model source code and binary code
migdb.mm.app/src/*
migdb.mm.app/bin/*
migdb.mm.rdb/src/*
migdb.mm.rdb/bin/*

#dsl
migdb.dsl.app/bin/*
migdb.dsl.app/src-gen/*
migdb.dsl.app.ui/bin/*
migdb.dsl.app.ui/src-gen/*
migdb.dsl.ops/bin/*
migdb.dsl.ops/src-gen/*
migdb.dsl.ops.ui/bin/*
migdb.dsl.ops.ui/src-gen/*

#workflow binaries 
migdb.testing.run/bin/*
migdb.run/bin/*

#generated SQLs
migdb.run/output*/*

#generated test outputs
migdb.testing.run/output-tests/*

#~files
scripts/*~
.gitignore~
