#generated model outputs
migdb.testing.run/models/*

#generated model source code and binary code
migdb.mm.app/src/*
migdb.mm.app/bin/*
migdb.mm.rdb/src/*
migdb.mm.rdb/bin/*
migdb.mm.errors/bin/*
migdb.mm.errors/src/*

#dsl
migdb.dsl.app/bin/
migdb.dsl.app.ui/bin/
migdb.dsl.ops/bin/
migdb.dsl.ops.ui/bin/

#ide
migdb.dsl.ide/bin/

#workflow binaries 
migdb.testing.run/bin/*
migdb.run/bin/*

#"helper "workflows - used for testing some operations
migdb.testing.run/src/migdb/testing/app/atomic/run/test_app_atomic_so.mwe2
migdb.testing.run/src/migdb/testing/orm/run/tests_orm_so.mwe2
migdb.testing.run/src/migdb/testing/migdb_executer/run/test_code_generator_so.mwe2

#generated SQLs
migdb.run/output*/*

#generated test outputs
migdb.testing.run/output-tests/*

#xtend
migdb.generator/bin/*
migdb.generator/xtend-gen/*

#~files
scripts/*~
.gitignore~
.DS_Store~
