<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.qvt.oml.QvtTransformation">
<mapAttribute key="org.eclipse.m2m.qvt.oml.interpreter.configurationProperties"/>
<intAttribute key="org.eclipse.m2m.qvt.oml.interpreter.elemCount" value="2"/>

<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.module" value="platform:/resource/migdb/transforms/transform.qvto"/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetModel1" value="platform:/resource/migdb/SadaZmen.xmi"/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetModel2" value="platform:/resource/migdb/vystup.xml"/>

<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.traceFile" value="platform:/resource/migdb/tracefile.txt"/>
<booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.useTraceFile" value="true"/>

</launchConfiguration>
