<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.collectionspro.eu/jam/mm/app"
            class="mm.app.AppPackage"
            genModel="models/mm-app.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.collectionspro.eu/jam/mm/app-ops"
            class="mm.app.ops.OperationsPackage"
            genModel="models/mm-app.genmodel"/>
   </extension>

</plugin>
